body{
	overflow: visible;	
}

.container{
	position: relative;
	text-align: center;
	margin: 0 auto;	
	/*outline: 1px dashed #f00;*/
}

/*----以下是header,不可動--------*/

.header{
	position: relative;
	z-index: 8;
}
/*.logo{
	width: 70px;
	left: 10px;
}
.logo img{
	width: 70px;
	height: 60px;
}
.burger-cover{
	position: absolute;
	right: 10px;
}
.bur{
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
}

.menu-container, .login{
	display: none;
}

.burgerCont{
	position: relative;
	width: 100%;
}
.box{
	position: relative;
	width: 90%;
	margin: 15px auto;
	height: 50px;
	line-height: 50px;
	background: #000;
	color:#fff;
	text-align: center;
	font-size: 18px;
}*/

/*----以上是header,不可動--------*/

.topLine{

	display:inline-block;
	margin: 5% auto;
	/*outline: 1px solid #fff;*/
}

.content{
	max-width: 767px;
	width: 100%;
	position: relative;
	margin: 10px auto;
	/*outline: 1px solid #00f;*/

	
}

.leftSide{

	max-width: 480px;
	left: 8%;
	right: 8%;
	/*outline: 1px solid #f00;*/

}

#whiteLine{
	width:3px;
	height: 30px;
	background-color: #fff;
	margin: 8px auto; 
}


.page-container {
	width:79%;
	margin-top:65px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 90%;
	/*outline: 3px solid #ff0;*/
}

.rightSide{
	/*position: static;*/
	margin-top: 30%;
	margin-bottom: 15%;
	padding: 3.5% 5%;  
	width: 70%;
	left:9%;
	right: 8%;	
	border: 2px solid #fff;
	text-align: center;
}

.rightLine{
	display: inline-block;
	position: static;
	margin: 5% auto;
	/*outline: 1px solid #ff0;*/
}

.circle{
	float: left;
	width: 14px;
	height:14px;
	transform: rotate(45deg);
	background-color:#626262;
	margin: 0 auto;
}

/*.circle:hover{
	transform: scale(1.5,1.5);
	background-color:#ffc600;
	border-radius: 50%;
	margin: 0 auto;
}*/

.Line{
	float: left;
	width:20px;
	height:2px;
	background-color:#626262;
	margin: 6px 0px;
}

/*.Line:hover{
	background-color:#ffc600;
}
*/
