body.viewing-page-1.disabled-onepage-scroll{
	max-width: 480px;
	width: 100%;
	overflow-x: hidden;
}

#memMod,#extUpload,#order,#assess{
	width: 100%;
	padding-top: 0;
	margin-bottom: 200px;
}


/*----以下是header,不可動--------*/
.logo{
	width: 70px;

	left: 10px;
}
.logo img{
	width: 70px;
	height: 60px;
}
.burger-cover{
	position: absolute;
	right: 10px;
}
.bur{
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
}

.menu-container, .login{
	display: none;
}

.burgerCont{
	position: relative;
	display: none;
	width: 100%;

}
.box{
	position: relative;
	width: 90%;
	margin: 15px auto;
	height: 50px;
	line-height: 50px;
	background: #000;
	color:#fff;
	text-align: center;
	font-size: 18px;
}

/*----以上是header,不可動--------*/

/*----以下是rightLine,不可動--------*/
#rightL1{
	display: none;
}

#rightL2{
	display: block;
}

.rightLine{
	margin-top: -50px;
}

.rightLine ul li{
	width: 140px;
	text-align: left;
	padding-left: 10px;
	margin-top: 10px;
}

/*----以上是rightLine,不可動--------*/

.onepage-wrapper section.section{
	height: auto;
	margin-top: 50px;
	/*max-width: 480px;*/
}


.content{
	width: 95%;
	height: auto;
	background-color: transparent;
	margin: 0 auto;
	padding-top: 10px;
}

.content.memCon{
	height: auto;
}

.content.asCon{
	height: auto;
}

.content.orCon{
	height: auto;
}

.content.asCon{
	height: auto;
}

.mbox{
	width: 100%;
	height: auto;
	border: transparent;
	margin: 0 auto;
	padding-top: 20px;
	/*padding-bottom: 60px;*/
}

.exbTitle{
	font-size: 24px;
	color: #fff;
	text-shadow:1px 1px 1px #aaa ; 
}

.mbox.memBox{
	height: auto;
}

.mbox.asBox{
	height: auto;	
}

.mbox.asLiBox{
	height: auto;
}

.mbox.orBox{
	height: auto;
}
.forms{
	margin:0 auto;
	text-align: center;
}

div.exbText{
	width: 115px;
	color: #ddd;
}

input,select{
	width: 130px;
	margin:0;
}

.picText{
	width: 260px;
	margin:0px 0px 0px 12%;
	text-align:center;
	color: #ffc600;
	font-size: 14px;
}

.exbTextCon,.assessText{
	margin:0 auto;
}

div.exbText.exbText1{
	text-align: left;
	width: 215px;
	padding-left:45px;

}

.submit{
	width: 100px;
	height: 30px;
	font-size: 14px;
	border: 0px;
}

.stars{
	width: 260px;
	margin: 0 auto;
	/*margin-left: 50px;*/
}

div.exbText.asText.asText1{
	width: 215px;
	padding-left:45px;
	text-align: left;
}

div.exbText.asText.asText2{
	width: 185px;
	padding-left:75px;
	text-align: left;
}

.curOrdAll,.hisOrdAll{
	display: none;
}

.curOrdMobile,.hisOrdMobile{
	display: block;
	width: 90%;
	margin: 0px auto;
	/*outline: 1px solid #fcc;*/
	text-align: center;
}


#ordCurButton,#ordHisButton{
	/*outline: 1px solid #00f;*/
	width: 100px;
	margin-left:70%;
	cursor: pointer;
}

#ordCurButton{
	margin-top: -30px;
}

#ordHisButton{
	margin-top: -10px;

}

.curOrd.hisOrd{
	margin-top: 10px;
}

.orBox{
	padding-bottom: 20px;
}

#toUp{
	display: block;
	position: fixed;
	right: 10%;
	bottom: 10%;
	z-index: 5;

}