body{
	position: relative;
	overflow-x: hidden;
}

/*phone-content*/
.phone-content{
	display: none;
	position: relative;
	width: 100%;
}
.box{
	position: relative;
	width: 90%;
	margin: 15px auto;
	height: 50px;
	line-height: 50px;
	background: #000;
	color:#fff;
	text-align: center;
	font-size: 18px;
}


/*outer*/
.outer{
	position: absolute;
	width: 100%;
	height: 800px;
	overflow:hidden;
	top: 0;
	left: 0;
	z-index: -5;
}
.imgcontainer{
	position: relative;
	width: 400%;
	height: 800px;
	top: 0;
	left: 0;
}
.sImg{
	height: 800px;
	width: 25%;
	float: left;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.sImg img{
	width: 100%;
	height: 800px;
}

/*leftbox*/
.leftbox{
	display: inline-block;
	position: relative;
	height: 645px;
	left: 35px;
	top:50px;
	font-family: 'Questrial', sans-serif;
}
#roomname{
	text-align: center;
	margin:20px 0;
	font-size: 30px;
	color: #fff;
	text-shadow: 0 0 5px #000, 0 0 7px #000, 0 0 8px #999, 0 0 12px #888;
}
.infobox{
	position: relative;	
	width: 252px;
	height: 500px;
	/*border:2px solid #fff;*/
}
.infobox #layer_1, .infobox .content{
	position: absolute;
}
.infobox .content{
	width: 100%;
	height: 100%;
}
.infobox  span{
	color:#fff;
	display: block;
}
.infobox #layer_1{
	top: -9px;
	left: -87px;
	width: 427px;
	height: 515px;
}

.price{
	font-size: 30px;
	text-align: center;
	margin-top:8px;
}
.price .pricetag{
	display: inline-block;
	font-size: 15px;
	margin-left: 5px;
}
.desc{
	font-size: 15px;
	margin:0px 5px 0px 10px;
	line-height:22px;
	letter-spacing: 1.5px;
	padding-bottom:10px;
	border-bottom: 2px solid #fff;
}
.facility{
	margin:-6px 5px 0 10px ;
	line-height: 30px;
	border-bottom: 2px solid #fff;
	text-align: center;
}
.maxmen{
	margin:-6px 5px 5px 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid #fff;	
}
.facility span{
	display: inline-block;
}
.facility .f1{
	padding-left: 10px;
}
.facility .f3{
	padding-left: 52px;
}
.facility .f2, .facility .f4{
	padding-left: 35px;
}
.address{
	margin:15px 0 5px 10px;
}
.showmap{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-top: -10px;
}
.showmap img{
	display: inline-block;
	width:16px;
	vertical-align: middle;
	margin-right: 5px;
}
.showmap a{
	display: inline-block;
	padding-bottom: 2px;
	color:#fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}
.left-btn{
	position: relative;
	display: block;
	width: 100px;
	height: 40px;
	margin:0 auto;
	margin-top: 15px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	border:1px solid #fff;
}
.service{
	background:rgba(0, 0, 0, 0.4);
}
.ordernow{
	background: #DA9C0C;
	transform : translateZ(0);
	backface-visibility: hidden;
}
.ordernow::before{
	position: absolute;
	content: "";
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background:#fff;
	height: 4px;
	transition:left, right, 0.5s, ease-out;
}
.ordernow:hover::before, .ordernow:focus::before, .ordernow:active::before{
	left: 0;
	right: 0;
}

/*popup-order*/
.orderbox-container{
	display: none;
	position: absolute;
/*	top: 10px;
	left: 50%;
	margin-left: -400px;
	min-width: 500px;*/
	/*border:2px solid #079;*/
	text-align: center;
	z-index: 3;
}
.orderbox{
	background:url("../img/orderbox.png") no-repeat center center;
	background-size: 859px 570px;
	width: 900px;
	height: 570px;
	/*border:2px solid #079;*/
	text-align: center;
	font-family: 'Muli', sans-serif;
}
.orderbox2-container{
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -450px;
	min-width: 484px;
/*	border:2px solid #079;*/
	text-align: center;
	z-index: 5;
}
.orderbox2{
	position: relative;
	margin: 0 auto;
	background:url("../img/orderbox.png") no-repeat center center;
	background-size: 859px 450px;
	width: 900px;
	height: 450px;
	/*border:2px solid #079;*/
	text-align: center;
	font-family: 'Muli', sans-serif;
}
.close{
	position: absolute;
	right: 20px;
	top: 10px;
	display: inline-block;
	height: 36px;
	cursor: pointer;
}
.close:hover{
	background: #ffa800;
	transition:0.5s;
}
#roomname-order{
	color:#fff;
	font-size: 35px;
	margin:10px auto;
	text-shadow: 0 0 5px #000, 0 0 7px #000, 0 0 8px #999, 0 0 12px #888;
}

#memName{
	padding-top: 20px;
	font-size: 25px;
	color:#000;
}
.info{
	/*border:5px solid #638;*/
	width: 800px;
	margin: 0 auto;
	font-size: 17px;
}
.info input[type="text"]{
	width: 140px;
	height: 20px;
	text-align: center;
}
.info ul{
	width:700px;
	height: 93px;
	margin: 0 auto;
	/*border:1px solid #768;*/
	text-align: right;
}
.info ul li{
	float: left;
	width: 305px;
	/*border:2px solid #967;*/
	margin:5px 20px;
}
.info span{
	/*border:2px solid #879;*/
	margin-right: 5px;
}
#email{
	color: #000;
}
.topinfo ul li:nth-child(2), .topinfo ul li:nth-child(4), .topinfo ul li:nth-child(6){
	text-align: left;
}
.topinfo ul li:nth-child(2) span:nth-child(1){
	margin-left: 18px;
}
.topinfo ul li:nth-child(4) span{
	margin-left: 9px;
}
.topinfo ul li:nth-child(5) span:nth-child(1){
	margin-right:9px;
}
.orderbox .info #tel, .orderbox .info #subtotal{
	display: inline-block;
	width: 140px;
	text-align: center;
}
.agreecontainer, .checkcontainer{
	clear: both;
	width: 100%;
	margin-top: 10px;
}
.agreenote{
	display: block;
	text-align: left;
	margin-left: 158px;
}
.agreecontent{
	display: block;
	width: 70%;
	margin: 0 auto;
	padding:1px;
	border:1px solid #000;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: 8px;
}
.midtotal{
	position: relative;
	width: 800px;
	margin: 10px auto;
	text-align: center;
	padding-top:5px;
	padding-bottom: 5px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-size: 17px;
}
.midtotal .total{
	color: #ffc600;
	font-size: 40px;
	margin:0 10px;
}
.bottominfo ul li:nth-child(7){
	text-align: center;
	font-size: 14px;
	margin-top: -5px;
}
.btns{
	clear: both;
}
.btns button, .btns input{
	font-size: 17px;
	background: #fff;
	width: 70px;
	height: 28px;
	border:1px solid #000;
	cursor: pointer;
}
.btns button{
	margin-right: 40px;
}
.btns input{
	margin-left: 40px;
	background: #000;
	color: #fff;
}

.orderbox2 .info ul{
	margin: 20px auto;
}
.orderbox2 .info .fillin{
	display: inline-block;
	width: 140px;
	text-align: left;
	margin-left: 5px;
	color: #ffc600;	
}
.orderbox2 .info #subtotal, .orderbox2 .info #tel{
	display: inline-block;
	width: 140px;
	text-align: left;
}
.orderbox2 .info #F-startTime{
	margin-left: 0;
}
#laststep{
	width: 70px;
}

/*lightbox*/
.lightbox_bg{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background:rgba(0,0,0,0.5);
	z-index: 2;
}

/*result*/
.result{
	display:none;
	position:fixed;
	top: 10%;
	left: 10%;
	width: 650px;
	height: 250px;
	background: #fff;
}
.result div{
	position: relative;
	width: 350px;
	height: 130px;
	margin: 0 auto;
	margin-top: 60px;
	border:1px solid #000;
	text-align: center;
	font-size: 40px;
	line-height: 3;
}
.result .success{
	color:#ffc600;
}
.result .fail{
	color:#f00;
}

/*contact-information*/
.contact-information{
	display: none;
	position: fixed;
/*	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -100px;*/
	width: 600px;
/*	border:2px solid #079;*/
}
.contact-information .close{
	position: absolute;
	top: -56px;
	right: 0;
}
.contactBody{
	color: #fff;
	border:2px solid #fff;
	background: #333;
}
.contactBody .contact, .contactBody .con-container{
	padding:0;
	margin: 15px auto;
}


/*rightcalendar*/
.rightcalendar{
	position:absolute;
	top: 180px;
	right: -324px;
	width: 380px;
	height: 335px;
	float: right;
	background:url("../img/rightcalendar.png") center no-repeat;
	background-size: 380px auto;
	transition: 1s;
}
.rightcalendar.active{
	right: 0;
}
.rightcontent{
	position: absolute;
	width: 310px;
	right: 7px;
	text-align: center;
}
.rightcontent span{
	position: relative;
	display: block;
}
.rightcontent .available{
	font-size: 18px;
	color:#ffc600;
	top: 25px;
}
.rightcontent .available::before{
	content: "";
	position: absolute;
	top: 3px;
	left: 108px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ffc600;
}
.rightcontent .year{
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	color:#fff;
	top: 25px;
	letter-spacing: 3px;
}
.rightcontent .month{
	font-size: 38px;
	font-family: 'Anton', sans-serif;
	color:#fff;
	top: 20px;
}
.rightcontent #before{
	display: inline-block;
	position: absolute;
	top:106px;
	left: 85px;
	border-top:13px solid transparent;
	border-right:13px solid #D8D6D6;
	border-bottom:13px solid transparent;
	border-left:13px solid transparent;
}
.rightcontent #after{
	display: inline-block;
	position: absolute;
	top: 106px;
	right: 85px;
	border-top:13px solid transparent;
	border-left:13px solid #D8D6D6;
	border-bottom:13px solid transparent;
	border-right:13px solid transparent;
}
.rightcontent .calendar_table{
	position: relative;
	text-align: center;
	width: 303px;
	margin:0 auto;
	margin-top: 10px;
}
.calendar_body{
	border-spacing:7px;
}
.calendar_body .weekname{
	font-size: 20px;
	font-family: 'Questrial', sans-serif;
	color:#fff;
}
.calendar_body .week{
	font-size: 18px;
	font-family: 'Muli', sans-serif;
	color:#ffc600;
}





/*feedback*/
.feedback-container{
	position: relative;
	padding-top: 20px;
}
.comment-cover{
	position: relative;
	left: 13px;
	width: 270px;
	height: 50px;
	text-align: center;	
	border-top:2px solid #000;
	border-left:2px solid #000;
	border-right:2px solid #000;

}
.feedback-container h3{
	display: inline-block;
	font-size: 30px;
	margin-top: 33px;
	font-family: 'Muli', sans-serif;
	letter-spacing: 3px;
}
.feedback-container h3::before{
	position: absolute;
	top: 48px;
	left: 0;
	content: "";
	width: 20px;
	height: 2px;
	background: #000;
}
.feedback-container h3::after{
	position: absolute;
	top: 48px;
	left: 250px;
	content: "";
	width: 20px;
	height: 2px;
	background: #000;
}
.feedback-border{
	position: relative;
	width: 95%;
	margin: 0 auto;
	margin-top: 35px;
}
.feedback-border .bdTop{
	position: relative;
	width: 100%;
	height: 2px;
	background: #555;
}
.feedback-border .bdBottom{
	position: relative;
	width: 100%;
	bottom: 00%;
	height: 2px;
	background: #555;
}
.feedback-border .bdLeft{
	position: relative;
	display: inline-block;
	width: 2px;
	height: 520px;
	background: #555;
}
.feedback-border .bdRight{
	position: relative;
	display: inline-block;
	left: 99.3%;
	width: 2px;
	height: 520px;
	background: #555;	
}
.comment{
	position: absolute;
	top: 10px;
	left: 4%;
	width: 90%;
	/*border:1px solid #000;*/
}
.comment2{
	position: absolute;
	top: 220px;
	left: 4%;
	width: 90%;
	/*border:1px solid #000;*/
}
.cm-profile{
	position: relative;
	display: inline-block;
	width: 14%;
	vertical-align: top;
}
.cm-profile .commenter{
	display: inline-block;
	position: relative;
	top: 20px;
	width: 100%;
	text-align: center;
}
.cm-profile .comment-pic{
	display: block;
	width: 100%;
	max-width: 120px;	
	margin: 40px auto;
	border:2px solid #ffc600;
	border-radius: 50%;
}
.comment-pic img{
	width: 100%;
}
.cm-bg{
	position: relative;
	display: inline-block;
	width: 84%;
	background: url("../img/chatbox.png") center no-repeat;	
	background-size: 100% 225px;
	height: 200px;
	vertical-align: top;
}
.cm-content{
	position: absolute;
	bottom: 2rem;
	left: 5rem;
	right: 2rem;
}
.cm-content div{
	width: 100%;
	margin-top: 10px;
	/*border:2px solid #987;*/
}
.cm-content .stars{
	position: relative;
	margin-top: 0;
	right: 0;
	text-align: right;
}.cm-date{
	font-size: 18px;
	font-family: 'Muli', sans-serif;
}

/*gotop*/
.gotop{
	display: none;
}
